<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% extends "appProyecto/padre.html" %}
    {% load static %}
    {% block contenidoQueCambia %}

    {% block titulo %}Lista de Profesores{% endblock %}

<h2>Profesores</h2>
<table class="table table-striped" style="background-color: rgb(224, 224, 224);">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Profesion</th>

        </tr>
    </thead>
    <tbody>
        {% for profesor in profesores %}
        <tr>
            <td>{{ profesor.nombre }}</td>
            <td>{{ profesor.apellido }}</td>
            <td>{{ profesor.email }}</td>
            <td>{{ profesor.profesion }}</td>



        </tr>
        {% endfor %}
    </tbody>
</table>

    {% endblock %}


</body>
</html>